#pipes {
    display: block;
    margin: auto;
    width: 500px;
    height: 500px;
    background: url("pipes.png");
}
main{
    display: flex;
    flex-flow: column;
}
.block{
    width:20px;
    height: 20px;
    background: red;
    position: relative;
    margin-bottom: -20px;
}